@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

.Main {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

@media screen and (max-width: 1050px) {
    .Main {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}